<!DOCTYPE html>
<html lang="en">
<head>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Alappuzha">Alappuzha</a>
    <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Kollam">Kollam</a>
    <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Kottayam">Kottayam</a>
    <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Ernakulam">Ernakulam</a>
    <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Thiruvananthapuram">Thiruvananthapuram</a>
  </div>
</div>
</head>
<body>

</body>
</html>